img {
    padding:8px 0px;
    max-width: 140px;

}

span {
    margin-bottom: 25px;
    font-size: 1.7rem;
    color: #5f6368;
}

.container-logo{
    display: flex;
    align-items: end;
}

/* a{
    margin: 100px;
} */